.head
{
 background-image: blue;
 border: 4px solid black; 
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width:fill;
  height:550px;
}
.head h1
{
    text-align: center;
    margin-top: 200px;
    color: whitesmoke;
    border:4px solid whitesmoke;
    width:650px;
    height:80px;
    margin-left:450px;
    background-color: black;
}
.head h1:hover
{
   border-color:blueviolet;
}
.sha:hover {
    text-shadow: 0 1px 0 #ccc, 0 2px 0 #ccc,
                 0 3px 0 #ccc, 0 4px 0 #ccc,
                 0 5px 0 #ccc, 0 6px 0 #ccc,
                 0 7px 0 #ccc, 0 8px 0 #ccc,
                 0 9px 0 #ccc, 0 10px 0 #ccc,
                 0 11px 0 #ccc, 0 12px 0 #ccc,
                 0 20px 30px rgba(0, 0, 0, 0.5);
}
span.logo
{
    text-align:left;
    font-size: 40px;
    color: whitesmoke;
    margin-left:80px;
}
.mess:hover
{
    color: orangered;
}
.contact
{
    border: 3px solid black; 
    margin-top: 20px;
    height:160px;
    background-color: black;
    color: white;
}
.c1
{
    float:left;
    width:20%;
    margin-left: 280px;
    text-align: center;
}
.c2
{
    float:left;width:20%;
    margin-left:60px;
    text-align: center
}
.c2 >a>i
{
    color:red;font-size:36px;
}
.c2 h3:hover
{
    color: blueviolet;
}
.c1 h3:hover
{
    color: blueviolet;
}
div.intro
{
    float:left;
    width:36%;
    height:150px;
    margin-left:100px;
    margin-top:35px;
    text-align: center;
    border:3px solid black
}
.avatar
{
    vertical-align: middle;
    width: 180px;
    height: 180px;
    border-radius: 50%;
    margin-top:20px;
}
.team
{
    border: 3px solid black; 
    margin-top: 20px;
    margin-bottom: 20px;
    height:650px;
    width:80%;
    margin-left:160px;
}
.name
{
    font-size: 19px;
}
.prof
{
    font-size: 17px;
}
.price
{
    border: 3px solid black; 
    margin-top: 20px;
    margin-bottom: 20px;
    height:550px;
    width:80%;
    margin-left:160px;  
}
.home
{
    border: 3px solid black; 
    margin-top: 20px;
    margin-bottom: 20px;
    height:700px;
    width:80%;
    margin-left:160px; 
}
.project
{
    border: 3px solid black; 
    margin-top: 20px;
    margin-bottom: 20px;
    height:510px;
    width:80%;
    margin-left:160px;
}
.signup
{
    border: 3px solid black; 
    margin-top: 20px;
    margin-bottom: 20px;
    height:540px;
    width:1200px;
    margin-left:160px;
}
.signup div:nth-child(1)
{
    float:left;
    height:100%;
    width:40%;
    text-align: center;
    border:3px solid black;
}
.signup div:nth-child(2)
{
    float:right;
    height:100%;
    width:59%;
    text-align: center;
    border:3px solid black;
}
.container>button
{   
    width: 25%;
    padding:14px 20px;
    font-size: 20px;
}
.h1
{
    color:white;
    text-align: left;
}
.ButG
{
    float:right;
    margin-top: 20px;
    margin-right:20px;
}
button
{
    background-color: transparent;
    color: black;
    text-align: center;
}
.add1
{
    margin-left: 400px;
    text-align:left;
    
}
.address
{
    text-align: left;
}
a
{
color:ghostwhite;
text-decoration: none;
margin-right: 2px;
border:3px solid black;
padding:2px;
}
a:hover 
{
    color:RED;
}
a.b 
{
    border-color: whitesmoke;
}
a.b:hover
{
    border-color: tomato;
    color:blue;
}
em
{
font-size: 16px;
}
span.name
{
    font-weight: bold;
}
span.prof
{
    font-weight: lighter;
}
input
{
    width:60%;
    padding:15px;
    border:none;
    background: #f1f1f1;
    float: left;
    margin-left: 20px;
}
label
{
    font-size: 28px;
    float:left;
    margin-left: 30px;
}
.cardpro 
{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    text-align: center;
    float:left;
    margin-left: 53px;
    width:20%;
}
.cardpro button {
    border: none;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  .cardpro button:hover 
{
    opacity: 0.7;
}
.cardpri 
{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    text-align: center;
    float:left;
    margin-left: 74px;
    width:25%;
}
.money {
    color: grey;
    font-size: 22px;
  }
  
.cardpri button 
{
    border: none;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  
  .cardpri button:hover {
    opacity: 0.7;
  }